DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/dbname

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
APP_SMTP_PASSWORD=your_app_password

# AI4Thai / Pathumma API Config
APP_AI4THAI_API_KEY=your_ai4thai_api_key_here
PATHUMMA_MODEL_NAME=thaillm-8b
ASR_URL=https://tokenmind.pathumma.in.th
ASR_MODEL=ptm-asr-1